<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gis.monitor.mapper.basicinfo.BI_ITEMKEY_MAPPER">

    <select id="getkey" resultType="com.gis.monitor.pojo.basicinfo.BI_ITEMKEY">
        select * from BI_ITEMKEY WHERE ITEMID=#{item_id}
   </select>


</mapper>